#login-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #101e26;
    main {
        background-color: #101e26;
        flex: 1 0 auto;
        center{
            img.responsive-img{
                width: 250px;
            }
            a{
                color: #ffffff
            }
            .container {
                .form-container-login {
                    background-color: #061F2F;
                    form{
                        .input-field.col.s12{
                            input{
                                color:#ffffff;
                            }
                        }
                        .col.s12.btn.btn-large.waves-effect{
                            background-color: #101e26
                        }
                    }
                }
            }
        }
      }
    
}