
div#home-catalog{
    color: white;
    background: #222;
    * { box-sizing: border-box; }

    .column-4, .column-8 {
      float: left;
      position: relative;
    }
    .column-4 {
      width: 33.3333%;
    }
    .column-8 {
      width: 66.6667%;
    }
    input#autocomplete-input{
        color: white;
    }
    div.catalog{
        div.column-4{
            img{
                width: 100%;
                cursor: pointer;
            }
        }
        h3{
            text-align: center;
        }
    }
}
div#movie-container{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px; /*(half of width)*/
    margin-top: -250px; 
}